body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-size: 3rem;
    color: rgb(73, 28, 43);
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.button {
    width: 250px;
}

.image {
    margin-top: 20px;
}

.image img {
    width: 250px;
}

html {
    background-color: pink;
}