body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.button {
    width: 250px;
}

.image {
    margin-top: 20px;
}

.image img {
    width: 250px;
}

html {
    background-color: grey;
}